<ul  class="navbar-nav " *ngIf="cartItems.length>0;else cartEmptyContent2">
  <li class="btn-group dropleft">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-shopping-cart"></i>{{totalCartItemPrice|currency}}({{totalCartItem}})
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a *ngFor="let item of cartItems" class="dropdown-item">
        <i class="btn btn-sm btn-danger fas fa-times-circle" (click)="removeFromCart(item.product)"></i>{{item.product.productName |uppercase}}({{item.quantity}})</a></li>
      <li><div class="dropdown-divider"></div></li>
      <li class="text-center text-primary"><strong><a class="dropdown-item" routerLink="my-cart">Go to cart</a></strong></li>
    </ul>
  </li>
</ul>
<ng-template #cartEmptyContent2>
  <ul class="navbar-nav ">
    <li class="btn-group dropleft">
      <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-shopping-cart"></i> Cart is empty.
      </a>

    </li>
  </ul>
</ng-template>

